.date-and-tickets__container {
  position: relative;
  margin: 170px auto 0 auto;

  width: 1160px; /* To be adjusted */
  height: 800px; /* To be adjusted */

  border: 1px solid black; /* To be removed */


}

.date-and-tickets__header {
  height: 100px; /* To be adjusted */
  width: 100%;
}



