.date-and-tickets__container {
  position: relative;
  margin: 150px auto 0 auto;

  width: 1160px; /* To be adjusted */
  /* height: 800px; */ /* To be adjusted */
}

.date-and-tickets__header {
  height: 70px; /* To be adjusted */
  width: 100%;

  display: flex;
  align-items: center;
}

.date-and-tickets__header-image {
  display: inline-block;

  height: 48px;
  width: 48px;

  border: 0.56px solid #C9C9C9;
  border-radius: 13.4px;  

  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M24.5714 13.1413L25.4057 12.3076L26.2394 13.1419L25.4051 13.9756L24.5714 13.1413Z' fill='%23BE005A'/%3E%3Cpath d='M22.9026 11.4728L23.7369 10.6388L24.5709 11.4728L23.7369 12.3068L22.9026 11.4728Z' fill='%23BE005A'/%3E%3Cpath d='M21.2347 9.80544L22.069 8.97147L22.9029 9.80544L22.069 10.6394L21.2347 9.80544Z' fill='%23BE005A'/%3E%3Cpath d='M27.9076 16.4775L28.7419 15.6435L29.5758 16.4775L28.7419 17.3115L27.9076 16.4775Z' fill='%23BE005A'/%3E%3Cpath d='M26.2394 14.8093L27.0733 13.975L27.9076 14.809L27.0736 15.6432L26.2394 14.8093Z' fill='%23BE005A'/%3E%3Cpath d='M19.258 24.2455C19.0363 24.2453 18.8336 24.1209 18.7331 23.9236L17.6679 21.8346L15.3526 22.2007C15.0989 22.2427 14.8469 22.1154 14.7305 21.8862C14.6139 21.6567 14.6594 21.3785 14.8428 21.1982L16.5007 19.5404L15.4392 17.4514C15.3232 17.2236 15.367 16.9472 15.5478 16.7666C15.7284 16.5858 16.0048 16.542 16.2323 16.658L18.3221 17.7198L19.9797 16.0614C20.16 15.8776 20.4385 15.8321 20.6677 15.9488C20.8972 16.0654 21.0245 16.3171 20.9824 16.5708L20.6075 18.8921L22.697 19.9573C22.9242 20.0737 23.0509 20.3231 23.0106 20.5753C22.9703 20.8276 22.7722 21.0251 22.5199 21.0649L20.204 21.4318L19.8406 23.7476C19.8006 23.9999 19.6028 24.1977 19.3505 24.2378C19.32 24.243 19.2889 24.2455 19.258 24.2455ZM17.9993 20.5929C18.2211 20.5929 18.4241 20.7176 18.5249 20.9151L18.9594 21.7684L19.1095 20.8247C19.1495 20.5725 19.3476 20.3746 19.6002 20.3346L20.5436 20.1843L19.6903 19.7497C19.4625 19.6337 19.3355 19.3846 19.3753 19.1323L19.525 18.1857L18.85 18.8628C18.6691 19.043 18.3927 19.0868 18.1652 18.9705L17.3111 18.5359L17.7465 19.3895C17.8622 19.617 17.8185 19.8934 17.6379 20.074L16.9603 20.7521L17.9069 20.6024C17.9374 20.5966 17.9682 20.5935 17.9993 20.5929Z' fill='%23BE005A'/%3E%3Cpath d='M35.3422 11.5448L32.4227 8.62534L32.0058 9.04232C31.56 9.4953 30.9057 9.67442 30.2912 9.51172C29.6769 9.34873 29.1972 8.86896 29.0345 8.25443C28.8717 7.64018 29.0509 6.98562 29.5041 6.54013L29.9211 6.12314L27.0017 3.20425C26.3108 2.51311 25.1903 2.51311 24.4992 3.20425L22.4145 5.28917L21.1636 4.03822C20.4724 3.34708 19.3522 3.34708 18.6611 4.03822L0.657893 22.0414C-0.0332421 22.7326 -0.0332421 23.8531 0.657893 24.5439L3.57736 27.4634L3.99406 27.0464C4.69441 26.3777 5.79648 26.3777 6.49654 27.0464C7.18768 27.7372 7.18768 28.8577 6.49654 29.5486L6.07956 29.9656L8.99903 32.8856C9.68987 33.5762 10.8098 33.5762 11.5006 32.8856L13.5856 30.8001L14.8371 32.0511C15.5279 32.7419 16.6479 32.7419 17.339 32.0511L35.3422 14.0467C36.0333 13.3556 36.0333 12.2351 35.3422 11.5442V11.5448ZM10.6661 32.0505C10.5555 32.1614 10.4055 32.2236 10.2491 32.2236C10.0925 32.2236 9.94243 32.1614 9.83185 32.0505L7.70574 29.9232C8.48096 28.7538 8.32517 27.2002 7.3331 26.2081C6.34075 25.216 4.78714 25.0605 3.61797 25.836L1.49129 23.7099C1.26091 23.4796 1.26091 23.1063 1.49129 22.876L19.4951 4.87219C19.6056 4.76132 19.7557 4.69912 19.9123 4.69912C20.069 4.69912 20.219 4.76132 20.3296 4.87219L21.5806 6.12314L6.49597 21.2083C5.80541 21.8992 5.80541 23.0191 6.49597 23.7099L9.41486 26.6294L9.83185 26.2124C10.5227 25.5213 11.6432 25.5213 12.334 26.2124C13.0252 26.9033 13.0252 28.0238 12.334 28.7146L11.9165 29.1316L12.751 29.9656L10.6661 32.0505ZM34.5082 13.2133L16.5045 31.2165C16.2741 31.4469 15.9006 31.4469 15.6705 31.2165L13.5438 29.0898C14.3167 27.9204 14.1595 26.3685 13.168 25.3779C12.1762 24.3893 10.6266 24.2329 9.45719 25.0032L7.32994 22.876C7.09956 22.6459 7.09956 22.2724 7.32994 22.042L25.3331 4.03822C25.4437 3.92764 25.594 3.86515 25.7504 3.86515C25.9071 3.86515 26.0571 3.92764 26.1677 4.03822L28.2944 6.16144C27.52 7.33061 27.6761 8.88307 28.6676 9.87485C29.6591 10.8663 31.2118 11.0227 32.381 10.2486L34.5088 12.3765C34.7389 12.6066 34.7389 12.9801 34.5088 13.2104L34.5082 13.2133Z' fill='%23BE005A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='35.7209' height='35.7209' fill='white' transform='translate(0.139542 0.139542)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.date-and-tickets__header-text {
  margin-left: 14px;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;  
}

.date-and-tickets__tickets {
  position: relative;
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  /* border-bottom: 1px solid #C9C9C9; */

  padding-top: 32px;
  /* padding-bottom: 32px; */
  /* margin-bottom: -8px; */
}

.date-and-tickets__tickets::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  content: "";
  border-top: 1px solid #C9C9C9;

}



/* .date-and-tickets__tickets:last-child {
  margin-bottom: 32px;
} */

.date-and-tickets__footer {
  height: 93px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-and-tickets__total {
  padding-top: 27px;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.date-and-tickets__go-to-payment {
  height: 61px;
  width: 312px;
  /* left: 1228px; */

  /* margin-top: 32px; */
  margin-top: 10px;

  border-radius: 9px;

  background: #EFEFEF;
  color: #777C8B;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  
} 

.date-and-tickets__go-to-payment_enabled {
  background-color: #BE005A;
  color: #FFFFFF;

  box-shadow: 0px 14px 37px 0px #BE005A 25%;
}


