.tickets__info-popup {
  float: left;
}

/* .tickets__info-popup-container {
  position: absolute;

  height: 148px;
  width: 384px;

  transform: translate(-24px, calc(-100% + 16px));

  left: 0;
  top: 0;

} */


.tickets__info-button {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  z-index: 10;
  height: 20px;
  width: 20px;

  /* reencoded using https://yoksel.github.io/url-encoder/ */
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.99988 0.750214C15.1089 0.750214 19.2499 4.89221 19.2499 10.0002C19.2499 15.1082 15.1089 19.2502 9.99988 19.2502C4.89188 19.2502 0.749878 15.1082 0.749878 10.0002C0.749878 4.89221 4.89188 0.750214 9.99988 0.750214Z' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.995 6.20432V10.6233' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.995 13.7961H10.005' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

/* The actual popup */
.tickets__info-popup-text {
  visibility: hidden;
  position: absolute;

  height: 148px;
  width: 384px;

  left: 0;
  top: 0;  
  transform: translate(-32px, calc(-100% + 2px));

  border-radius: 15px;
  padding: 24px;

  background: #000000;
  opacity: .75;
  color: white;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

/* Popup arrow */
.tickets__info-popup-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.tickets__info-popup-text_show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}