.multiple-tickets__remove {
  height: 37px;
  width: 107px;

  border: 1px solid #777C8B 27%;
  border-radius: 9px;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #BE005A;  

  cursor: pointer;
}

.multiple-tickets, .multiple-tickets__increment-decrement-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.multiple-tickets__subtotal {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0 20px;
}


.multiple-tickets__decrement,
.multiple-tickets__increment {
  height: 29px;
  width: 29px;
  border-radius: 6px;

  background: #BE005A;

  text-align: center;
  vertical-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;

  cursor: pointer;
}