.payment__container {
  position: relative;
  margin: 170px auto 0 auto;

  width: 1160px; /* To be adjusted */
  height: 800px; /* To be adjusted */

  background: aqua; /* To be removed */
}

.payment__development-message {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translateX(-50%);

  font-size: 50px;
  text-align: center;
}