.payment__container {
  position: relative;
  margin: 170px auto 0 auto;

  width: 1160px; /* To be adjusted */
  /* height: 800px; */ /* To be adjusted */

  /* background: aqua; */ /* To be removed */
}

.payment__header {
  width: 100%;

  padding-bottom: 32px;

  border-bottom: 1px solid #C9C9C9;
}

.payment__header-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;  

  margin-bottom: 8px;
}

.payment__header-description {  
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  color: #AFB3BF;  

  margin-top: 0;
}



/* .payment__development-message {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translateX(-50%);

  font-size: 50px;
  text-align: center;
} */