.payment {
  position: relative;
  margin: 170px auto 0 auto;

  width: 1160px; /* To be adjusted */
}

.payment-header {
  width: 100%;

  padding-bottom: 32px;

  border-bottom: 1px solid #C9C9C9;
}

.payment-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;  

  margin-bottom: 8px;
}

.payment-description {  
  width: 300px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  color: #AFB3BF;  

  margin-top: 0;
}

.payment-email {
  margin-top: 32px;
  margin-bottom: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input.payment-email__input {
  display: inline-block !important;

  flex-shrink: 0;

  height: 81px;
  box-sizing: border-box;
  
  border-radius: 17px;
  border: 1px solid #AFB3BF;

  padding-left: 24px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  color: #000000;  
}

input.payment-email__input::placeholder {
  color: #AFB3BF;  
}

.payment-email :first-child {
  width: 360px;
}

.payment-email :nth-child(2) {
  margin-left: 40px;
  margin-right: 24px;

  width: 360px;
}

.payment-email__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: #AFB3BF;
}

.payment-email__warning {
  color: #E90017;
}


.payment-terms {
  display: flex;
  flex-direction: row;
  justify-items: left;
  align-items: center;
  
  padding-bottom: 32px;
  border-bottom: 1px solid #C9C9C9;
}

.payment-terms__acceptance {
  margin-left: 16px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.payment-terms__link {
  text-decoration: none;
  color: blue;
}

.payment-terms__link:focus {
  box-shadow: 0px 14px 37px 0px rgba(190, 0, 90, 0.25);
}


.payment-processors {
  min-height: 150px;

  padding: 85px 40px 0 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
