.success__container {
  position: relative;
  margin: 90px auto 0 auto;

  width: 576px; /* To be adjusted */
  height: 494px;

  border-radius: 19px;

  background-color: #FFFFFF;
  background-color: aqua; /* To be removed */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.success__nav {
  height: 68px;
  width: 264px;
  /* width: auto; */
  /* left: 672px;
  top: 90px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  padding-top: 10px;  

  border-radius: 16px;
  border: 1px solid #D6DAE5;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
  
}

.success__nav__arrow {
  height: 44px;
  width: 44px;

  border-radius: 10px;

  background: rgba(0, 0, 0, 0.24);
  mix-blend-mode: normal;
  opacity: 0.4;

  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64692 0.727971L0.489416 8.84864C-0.123751 9.45964 -0.123751 10.5408 0.489416 11.154L8.64692 19.2746C9.28392 19.9073 10.3131 19.9051 10.9458 19.2681C11.5784 18.6311 11.5784 17.6041 10.9414 16.9693L5.57458 11.6241L19.3437 11.6241C20.2429 11.6241 20.9687 10.8961 20.9687 9.99914C20.9688 9.10214 20.2429 8.37414 19.3438 8.37414L5.57458 8.37414L10.9414 3.03114C11.2599 2.71264 11.4181 2.29664 11.4181 1.87847C11.4181 1.46464 11.2599 1.04864 10.9458 0.732304C10.3131 0.0974707 9.28392 0.0953041 8.64692 0.727971Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 20px;  
}

.success__info-card {
  background-color: aquamarine;
  height: 494px;
  width: 576px;

  border-radius: 19px;

  /* box-shadow: 0px 24px 80px 0px #000000 20%; */
  box-shadow: 0px 24px 80px 0px rgba(0, 0, 0, 0.2);
}

.success__info-card__header {
  height: 104px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;  

  color: #21E900;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;


}

.success__info-card__divider {
  height: 1px;
  width: calc(100% - 2 * 32px);
  margin: 0 auto;

  border-bottom: 1px solid #D6DAE5;
}

.success__info-card__header__checkmark {
  box-sizing: border-box;

  height: 44px;
  width: 44px;

  margin: 0 24px;

  border-radius: 10px;

  /* background-color: #21E900 35%; */
  background-color: rgba(33, 233, 0, 0.35);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.42806 15.0371C6.94273 15.0371 6.4574 14.8529 6.0869 14.4824L0.945398 9.34095C0.204398 8.59995 0.204398 7.39962 0.945398 6.66078C1.6864 5.91978 2.88456 5.91761 3.62556 6.65861L7.42806 10.4611L16.3721 1.51711C17.1131 0.776115 18.3112 0.776115 19.0522 1.51711C19.7932 2.25811 19.7932 3.45845 19.0522 4.19945L8.76923 14.4824C8.39873 14.8529 7.9134 15.0371 7.42806 15.0371Z' fill='%2321E900'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center; 
}

.success__info-card__main {
  margin-left: 24px;  

  /* padding: 24px 0; */
  padding-top: 8px;
}

.success__info-card__main__info-type {
  /* margin-bottom: 8px; */

  color: #777C8B;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
}

.success__info-card__main__info-details {
  margin-top: 0px;

  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
    
}