.success__container {
  position: relative;
  margin: 90px auto 0 auto;

  width: 576px; /* To be adjusted */
  height: 494px;

  border-radius: 19px;

  background-color: #FFFFFF;
  
  /* background-color: aqua;  */
  /* To be removed */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* padding-left: 32px; */
  
}

.success__info-card__divider {
  height: 1px;
  /* width: calc(100% - 2 * 32px); */
  width: 100%;
  margin: 0 auto;

  border-bottom: 1px solid #D6DAE5;
}


.success__nav {
  height: 68px;
  width: 264px;
  /* width: auto; */
  /* left: 672px;
  top: 90px; */

  /* margin-bottom: 24px; */

  align-self: flex-start;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  padding-top: 10px;  

  border-radius: 16px;
  border: 1px solid #D6DAE5;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}

.success__nav__arrow {
  height: 44px;
  width: 44px;

  border-radius: 10px;

  background: rgba(0, 0, 0, 0.24);
  mix-blend-mode: normal;
  opacity: 0.4;

  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64692 0.727971L0.489416 8.84864C-0.123751 9.45964 -0.123751 10.5408 0.489416 11.154L8.64692 19.2746C9.28392 19.9073 10.3131 19.9051 10.9458 19.2681C11.5784 18.6311 11.5784 17.6041 10.9414 16.9693L5.57458 11.6241L19.3437 11.6241C20.2429 11.6241 20.9687 10.8961 20.9687 9.99914C20.9688 9.10214 20.2429 8.37414 19.3438 8.37414L5.57458 8.37414L10.9414 3.03114C11.2599 2.71264 11.4181 2.29664 11.4181 1.87847C11.4181 1.46464 11.2599 1.04864 10.9458 0.732304C10.3131 0.0974707 9.28392 0.0953041 8.64692 0.727971Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  margin-left: 20px;
  margin-right: 20px;  
}

.success__info-card {
  /* background-color: aquamarine; */
  /* height: 494px; */
  width: 576px;

  margin-top: 24px;
  margin-bottom: 24px;

  padding: 32px;

  border-radius: 19px;

  /* box-shadow: 0px 24px 80px 0px #000000 20%; */
  box-shadow: 0px 24px 80px 0px rgba(0, 0, 0, 0.2);
}

.success__info-card__header {
  height: 104px;
  margin-top: -32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: #21E900;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}


.success__info-card__header__checkmark {
  box-sizing: border-box;

  height: 44px;
  width: 44px;

  margin-right: 24px;

  border-radius: 10px;

  background-image: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.42806 15.0371C6.94273 15.0371 6.4574 14.8529 6.0869 14.4824L0.945398 9.34095C0.204398 8.59995 0.204398 7.39962 0.945398 6.66078C1.6864 5.91978 2.88456 5.91761 3.62556 6.65861L7.42806 10.4611L16.3721 1.51711C17.1131 0.776115 18.3112 0.776115 19.0522 1.51711C19.7932 2.25811 19.7932 3.45845 19.0522 4.19945L8.76923 14.4824C8.39873 14.8529 7.9134 15.0371 7.42806 15.0371Z' fill='%2321E900'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center; 
}

.success__info-card__header__checkmark__background-color {
  background-color: rgba(33, 233, 0, 0.35);
  mix-blend-mode: normal;
  opacity: 0.4;

  width: 100%;
  height: 100%;
}


.success__info-card__main {
  padding-top: 32px;

}

.success__info-card__main__info-type {
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */

  color: #777C8B;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
}

.success__info-card__main__info-details {
  margin-top: 0px;

  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
    
}

.success__info-card__footer__payment-title {
  color: #777C8B;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

/* .success__info-card__footer {

} */

.success__info-card__footer__payment-details {
  height: 75px;
  width: 512px;

  padding: 15px;

  border-radius: 13px;
  border: 1px solid #D6DAE5;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.success__info-card__footer__order-details__payment-total {
  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  
}

.success__info-card__footer__order-details__payment-method {
  color: #777C8B;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;


}

.success__info-card__footer__payment-info {
  margin-bottom: 0;

  color: #AFB3BF;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}


.success__exhibition-rules {
  height: 205px;
  width: 560px;

  box-sizing: border-box;  
  border: 1px solid #D6DAE5;
  border-radius: 13px;


  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.success__exhibition-rules__image {
  width: 75px;
  height: 55px;

  background-image: url("data:image/svg+xml,%3Csvg width='76' height='55' viewBox='0 0 76 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8757 31.1928C26.2573 32.8753 31.8628 33.7321 37.5013 33.7341C43.1398 33.7321 48.7454 32.8753 54.127 31.1928C54.5535 31.0601 54.8768 30.71 54.9752 30.2743C55.0736 29.8387 54.932 29.3836 54.6039 29.0806C54.2758 28.7775 53.8109 28.6725 53.3844 28.8052C43.0457 32.0428 31.9644 32.0428 21.6257 28.8052C20.9664 28.6001 20.2657 28.9684 20.0606 29.6277C19.8556 30.287 20.2239 30.9877 20.8832 31.1928H20.8757Z' fill='%23BE005A'/%3E%3Cpath d='M21.0577 23.7337C26.4983 24.5751 31.9957 24.9955 37.5009 24.9913C43.0061 24.9955 48.5035 24.5751 53.944 23.7337C54.3895 23.6697 54.7662 23.371 54.9302 22.9518C55.0942 22.5326 55.0202 22.0576 54.7364 21.7083C54.4526 21.3589 54.0029 21.189 53.559 21.2636C42.9162 22.9012 32.0855 22.9012 21.4428 21.2636C20.7651 21.1662 20.1352 21.632 20.0297 22.3084C19.9243 22.9849 20.3826 23.6203 21.0577 23.7337Z' fill='%23BE005A'/%3E%3Cpath d='M53.2127 37.6243C43.2982 42.4683 31.7035 42.4683 21.789 37.6243C21.3827 37.396 20.8831 37.4128 20.493 37.6678C20.1028 37.9227 19.8869 38.3736 19.9329 38.8373C19.9788 39.3011 20.2789 39.7009 20.7115 39.8744C31.3061 45.0498 43.6956 45.0498 54.2902 39.8744C54.7228 39.7009 55.0229 39.3011 55.0688 38.8373C55.1148 38.3736 54.8989 37.9227 54.5088 37.6678C54.1186 37.4128 53.6191 37.396 53.2127 37.6243Z' fill='%23BE005A'/%3E%3Cpath d='M70.0027 12.4983H63.5224C62.9946 11.0053 61.5858 10.0048 60.0023 9.99819H58.1147C53.4723 9.93757 49.1042 7.78866 46.223 4.14797C44.0885 1.52354 40.8856 0 37.5027 0C34.1198 0 30.9169 1.52354 28.7824 4.14797C25.9005 7.78919 21.5314 9.93814 16.8881 9.99819H15.0006C13.417 10.0048 12.0083 11.0053 11.4804 12.4983H5.00019C2.23866 12.4983 0 14.737 0 17.4985V23.7487C0 30.319 5.88273 36.3655 13.023 37.3505C16.5482 46.9859 25.2392 53.7835 35.4401 54.8837C36.8108 55.0388 38.1946 55.0388 39.5653 54.8837C49.7652 53.7826 58.4551 46.9852 61.9799 37.3505C69.1202 36.3655 75.0029 30.319 75.0029 23.7487V17.4985C75.0029 14.737 72.7642 12.4983 70.0027 12.4983ZM15.0006 12.4983H16.8881C22.2845 12.4381 27.3664 9.94929 30.7224 5.72303C32.3817 3.6814 34.8725 2.49603 37.5033 2.49603C40.1342 2.49603 42.625 3.6814 44.2842 5.72303C47.6389 9.94885 52.7195 12.4377 58.1147 12.4983H60.0023C60.6927 12.4983 61.2524 13.058 61.2524 13.7483V14.9984L57.5022 14.9921H57.4772C51.5315 14.8322 45.9728 12.007 42.3391 7.29809C41.1532 5.84059 39.3734 4.99546 37.4944 4.99765C35.6154 4.99983 33.8375 5.84909 32.655 7.30934C29.0228 12.0116 23.469 14.8316 17.5294 14.9896H17.5007L13.7505 14.9984V13.7483C13.7505 13.058 14.3102 12.4983 15.0006 12.4983ZM2.5001 23.7487V17.4985C2.5001 16.1177 3.61943 14.9984 5.00019 14.9984H11.2504V27.4989C11.2544 29.9135 11.5674 32.3177 12.1817 34.6529C7.21528 33.4566 2.5001 29.2139 2.5001 23.7487ZM39.304 52.3973C38.1061 52.5323 36.8968 52.5323 35.6989 52.3973C26.2007 51.3606 18.1757 44.8885 15.1506 35.8254V35.8129C14.2281 33.1379 13.755 30.3285 13.7505 27.4989V17.4985L17.5007 17.4922C24.2076 17.3615 30.4939 14.1979 34.5951 8.8894C35.3033 8.01289 36.3691 7.50267 37.4959 7.50073C38.6228 7.49879 39.6904 8.00534 40.4016 8.8794C44.5084 14.1704 50.7775 17.3332 57.4735 17.4922H57.5022L61.2524 17.4985V27.4989C61.2488 30.3275 60.777 33.136 59.856 35.8104V35.8229C56.8312 44.8881 48.8042 51.3615 39.304 52.3973ZM72.5028 23.7487C72.5028 29.2139 67.7876 33.4566 62.8212 34.6554C63.4357 32.3194 63.7487 29.9143 63.7524 27.4989V14.9984H70.0027C71.3835 14.9984 72.5028 16.1177 72.5028 17.4985V23.7487Z' fill='%23BE005A'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.success__exhibition-rules__text {
  width: 360px;
}

.success__exhibition-rules__title {
  text-transform: uppercase;

  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  

}

.success__exhibition-rules__details {
  color: #AFB3BF;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

}


.success__contact-info {
  width: 560px;
  text-align: left;

}

.success__contact-info__title {
  color: #AFB3BF;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

}

.success__contact-info__details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.success__contact-info__details__phone-icon {
  display: inline-block;

  width: 19px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49033 3.37254C1.80665 2.84878 3.5495 0.943765 4.79322 1.00127C5.165 1.03208 5.49364 1.25699 5.76067 1.51784C6.37379 2.11656 8.12897 4.38101 8.22859 4.85753C8.47096 6.02621 7.07833 6.6999 7.50454 7.87783C8.59112 10.5366 10.4634 12.4088 13.1233 13.4943C14.3003 13.9205 14.974 12.5279 16.1428 12.7713C16.6183 12.8709 18.8839 14.626 19.4826 15.2391C19.7425 15.5051 19.9684 15.8347 19.9992 16.2065C20.0454 17.5159 18.0222 19.2833 17.6278 19.5092C16.6974 20.1747 15.4834 20.1634 14.0035 19.4753C9.87387 17.7572 3.27426 11.2822 1.52422 6.99669C0.854608 5.52505 0.808393 4.30297 1.49033 3.37254Z' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.success__contact-info__details__mail-icon {
  display: inline-block;

  width: 20px;
  height: 18px;  
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2676 7.0611L12.0022 10.4954C11.1949 11.1282 10.0634 11.1282 9.25616 10.4954L4.9541 7.0611' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.88787 1.5H15.3158C16.6752 1.51525 17.969 2.08993 18.896 3.0902C19.823 4.09048 20.3022 5.42903 20.222 6.79412V13.322C20.3022 14.6871 19.823 16.0256 18.896 17.0259C17.969 18.0262 16.6752 18.6009 15.3158 18.6161H5.88787C2.96796 18.6161 1 16.2407 1 13.322V6.79412C1 3.87545 2.96796 1.5 5.88787 1.5Z' stroke='%23AFB3BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.success__contact-info__details__text {
  display: inline-block;

  margin: 0 26px 0 8px;

  color: #000000;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;

}