:root {
  --day-padding-left-right: 15px;
  --day-padding-top: 15.4px;
  --day-padding: 15px;
}

.date-picker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center; 

  height: 145px;

  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
}

.date-picker__calendar_control {
  width: 360px;
}

.date-picker__price-info {
  margin-left: 20px;
  width: 470px;
}


.DayPicker-wrapper {
  width: 360px;
  /* height: 374px;  */

  box-shadow: 0px 0px 15px 0px #000000 25%;

  border-radius: 20px;
  padding: 16px;

}


.DayPicker {
  position: relative;
  display: block;

  /* box-shadow: 0px 0px 15px 0px #000000 25%;

  border-radius: 20px; */
  /* padding: 16px;   */
}

.DayPicker-Month {
  /* Otherwise cannot click on "previous month" or "next month" */
  /* z-index: -10;  */

  position: relative;

  margin-bottom: 45px;
}



div.DayPicker-Caption {
  width: 66%;
  margin: 10px auto 30px auto;

  font-family: "Open Sans", sans-serif !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 24px !important;
  letter-spacing: 0.12px;
  text-align: center !important;

  background-color: aqua; 
  /* To be removed */
  
  /* z-index: -1000 !important; */

}

.DayPicker-Body {
  table-layout: fixed;
  width: 100%;
}

.DayPicker-Weekdays {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* Adjusted */
  letter-spacing: 1.5px;
  text-align: center;
}


.DayPicker-Day {
  /* padding: 0 10px !important;  */
  /* padding-left: var(--day-padding-left-right) !important;
  padding-right: var(--day-padding-left-right) !important;
  padding-top: var(--day-padding-left-right) !important;
  padding-bottom: var(--day-padding-left-right) !important; */

  padding-left: var(--day-padding-left-right) !important;
  padding-right: var(--day-padding-left-right) !important;
  padding-top: var(--day-padding-top) !important;

  /* padding-top: var(--day-padding) !important;
  padding-bottom: var(--day-padding) !important; */

  /* padding-left: 2em;
  padding-right: 2em; */

  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 22px !important;
  letter-spacing: 0.22px;
  text-align: center;

  /* z-index: 10; */
}

.date-picker__price-info { /* Remove later */
  background-color: white;
  /* background-color: aqua;  */
  /* Checks if we got here */
}

