:root {
  --day-padding-left-right: 15px;
  --day-padding-top: 15.4px;
  /* --day-padding: 15px; */
}

.date-picker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center; 

  height: 145px;

  border-top: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
}

.date-picker__calendar_control {
  width: 360px;
}


.DayPicker-wrapper {
  width: 360px;

  box-shadow: 0px 0px 15px 0px #000000 25%;

  border-radius: 20px;
}

.DayPicker-Month {
  position: relative;
}

.DayPicker-Caption {
  width: 64%;
  margin: 10px auto 30px auto;
  padding: 0;

  font-family: "Open Sans", sans-serif !important;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: center !important;
}

.DayPicker-Weekdays {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* Adjusted */
  letter-spacing: 1.5px;
  text-align: center;
}


div.DayPicker-Day {
  padding-left: var(--day-padding-left-right) !important;
  padding-right: var(--day-padding-left-right) !important;
  padding-top: var(--day-padding-top) !important;

  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 22px !important;
  letter-spacing: 0.22px;
  text-align: center;
  /* vertical-align: text-bottom !important; */
}

div.DayPicker-Day:hover {
  border-radius: 13px !important;
}

div.DayPicker-Day--selected {
  /* width: 44px;
  height: 44px; */

  border-radius: 13px !important;

  background-color: #BE005A !important;
  color: #FFFFFF !important;
}

div.DayPicker-Day--disabled {
  cursor: not-allowed !important;
}


/* Otherwise next-month and previous-month are unclickable! */
.DayPicker-NavBar div {
  z-index: 9999 !important; 
}

.date-picker__price-info { 
  margin-left: 40px;
  width: 470px;

  background-color: white;
  color: #AFB3BF;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

div.DayPickerInput input::placeholder {
  color: #AFB3BF;
}

div.DayPickerInput input:focus {
  border: 2px solid #BE005A !important;
}

.DayPickerInput_valid {
  border: 2px solid #BE005A !important;
}