.date-and-tickets__footer {
  height: 93px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-and-tickets__total {
  padding-top: 27px;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.date-and-tickets__next-stage {
  height: 61px;
  width: 312px;

  margin-top: 10px;

  border: 1px solid #C9C9C9;
  border-radius: 9px;

  background: #EFEFEF;
  color: #AFB3BF;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;  

  cursor: not-allowed;
} 

.date-and-tickets__next-stage_enabled {
  background-color: #BE005A;
  color: #FFFFFF;

  box-shadow: 0px 14px 37px 0px #BE005A 25%;

  cursor: pointer;
}
